spesifikasjoner/afpant/afpant-model/xsd/dsve.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="kjoepekontraktforespoerselFraBank" type="KjoepekontraktforespoerselFraBank"/>
  <xs:element name="kjoepekontraktsvarFraMegler" type="KjoepekontraktSvarFraMegler"/>
  <xs:element name="kjoepekontraktEndringFraMegler" type="KjoepekontraktFraMegler"/>
  <xs:element name="kjoepekontraktUoppfordretFraMegler" type="KjoepekontraktFraMegler"/>

  <xs:element name="restgjeldsforespoersel" type="Restgjeldsforespoersel"/>
  <xs:element name="restgjeldssvar" type="Restgjeldssvar"/>
  <xs:element name="innfrielsessaldoforespoersel" type="Innfrielsessaldoforespoersel"/>
  <xs:element name="innfrielsessaldosvar" type="Innfrielsessaldosvar"/>

  <xs:element name="intensjonfrabank" type="IntensjonFraBank"/>
  <xs:element name="intensjonssvarframegler" type="IntensjonssvarFraMegler"/>
  <xs:element name="intensjonsendring" type="Intensjonsendring"/>
  <xs:element name="gjennomfoertetinglysing" type="GjennomfoertEtinglysing"/>
  <xs:element name="oppnaaddprioritetok" type="OppnaaddPrioritetOk"/>

  <xs:complexType name="KjoepekontraktforespoerselFraBank">
    <xs:annotation>
      <xs:documentation>Kjøpekontraktforespørsel er en forespørsel fra bank til megler om å få utlevert kjøpekontrakten.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="megler" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="bank" type="Avsender"/>
      <xs:element name="kjoepere" type="Kjoepere" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KjoepekontraktSvarFraMegler">
    <xs:sequence>
      <xs:element name="kjoepekontrakter" type="Kjoepekontrakter" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Kjoepekontrakter">
    <xs:sequence>
      <xs:element name="kjoepekontrakt" type="Kjoepekontrakt" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KjoepekontraktFraMegler">
    <xs:sequence>
      <xs:element name="kjoepekontrakt" type="Kjoepekontrakt" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Kjoepekontrakt">
    <xs:annotation>
      <xs:documentation>Kjøpekontrakt er strukturerte data fra en signert kjøpekontrakt.
        Benyttes for å digitalisere prosessene mellom banker og meglere og kan sendes fra megler til bank på
        forespørsel. Dersom kjøpekontrakten er signert skal den sendes med i elementet signertKjoepekontrakt
        Mulige verdier til objektstype er definert i enum Objektstype. Dersom denne er spesifisert som UKJENT kan
        det valgfrie feltet objektstypeFritekst benyttes til å angi beskrivelse.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="bank" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="megler" type="Megler"/>
      <xs:element minOccurs="1" maxOccurs="1" name="oppgjoersinformasjon" type="Oppgjoersinformasjon"/>
      <xs:element minOccurs="1" maxOccurs="1" name="salgsobjekter" type="Salgsobjekter"/>
      <xs:element minOccurs="1" maxOccurs="1" name="objektstype" type="Objektstype"/>
      <xs:element minOccurs="0" maxOccurs="1" name="objektstypeFritekst" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="lenkeTilSalgsoppgave" type="xs:anyURI"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Objektstype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENEBOLIG"/>
      <xs:enumeration value="DELT_BOLIG"/>
      <xs:enumeration value="REKKEHUS"/>
      <xs:enumeration value="LEILIGHET"/>
      <xs:enumeration value="FRITIDSEIENDOM"/>
      <xs:enumeration value="TOMT"/>
      <xs:enumeration value="NAERINGSBYGG"/>
      <xs:enumeration value="NYBYGG"/>
      <xs:enumeration value="LANDBRUK"/>
      <xs:enumeration value="UKJENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Prisantydning">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Restgjeldsforespoersel">
    <xs:annotation>
      <xs:documentation>Forespørsel om restgjeld på ett eller flere panteobjekt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="registerenheterMedHjemmelshavere" type="RegisterenheterMedHjemmelshavere"/>
      <xs:element minOccurs="0" name="prisantydning" type="Prisantydning"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RegisterenheterMedHjemmelshavere">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="registerenhetMedHjemmelshavere" type="RegisterenhetMedHjemmelshavere"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Restgjeldssvar">
    <xs:annotation>
      <xs:documentation>Svar på forespørsel om restgjeld. Inneholder:
        Liste med lån som må innfris for at heftelser i de eiendommene som skal selges blir slettet.
        Liste med de pantedokumentene, per eiendom, som banken sletter om listen med lån innfris.
        Angivelse av om lånene er sperret for videre opplån eller ikke, og om panterettigheter blir slettet om lånene
        innfris.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="laanliste" type="LaanRestgjeldListe"/>
      <xs:element minOccurs="1" maxOccurs="1" name="registerenheterMedDokumentreferanser" type="RegisterenheterMedDokumentreferanse"/>
      <xs:element minOccurs="1" maxOccurs="1" name="sperretForVidereOpplaan" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Innfrielsessaldosvar">
    <xs:annotation>
      <xs:documentation>Svar på forespørsel om innfrielsessaldo.
        Liste med lån som må innfris for at heftelser i de eiendommene som skal selges blir slettet.
        Liste med de pantedokumentene, per eiendom, som banken sletter om listen med lån innfris.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="laanliste" type="LaanInnfrielsessaldoListe"/>
      <xs:element minOccurs="1" maxOccurs="1" name="registerenheterMedDokumentreferanser" type="RegisterenheterMedDokumentreferanse"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RegisterenheterMedDokumentreferanse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="registerenhetMedDokumentreferanse" type="RegisterenhetMedDokumentreferanse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LaanRestgjeld">
    <xs:annotation>
      <xs:documentation>
        Informasjon om ett lån som skal utleveres i et restgjeldssvar. Angir om det er rammelån,
        Hvis ikke kid-nummer eller betalingsmelding er nødvendig kan begge utelates.
        Dersom lånenummer er likt kontonummer legges samme data i begge felter.
        Øvre grense for rammelån er kun brukt dersom det er rammelån.
        Realkausjon er true hvis det er realkausjon i bildet
        laantakerIkkeHjemmelshaver er true dersom det finnes en eller flere låntakere som ikke er hjemmelshavere.
        laantakereHjemmelshaver er en liste med navn på de låntakerne som ogsp er hjemmelshavere.
        transporterklaering er true dersom det er et lån brukt til mellomfinansiering (transporterklæring)
        Saldo er restgjeld på tidspunktet for besvarelse
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="rammelaan" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="oevreGrenseRammelaan" type="xs:double"/>
      <xs:element minOccurs="1" maxOccurs="1" name="fastrente" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="realkausjon" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="laantakerIkkeHjemmelshaver" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="transporterklaering" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="laanenummer" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="kontonummer" type="Kontonummer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="kidnummer" type="KID"/>
      <xs:element minOccurs="0" maxOccurs="1" name="betalingsmelding" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="saldo" type="xs:decimal"/>
      <xs:element minOccurs="1" maxOccurs="1" name="laantakereHjemmelshaver" type="LaantakereHjemmelshaver"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RegisterenhetMedDokumentreferanse">
    <xs:annotation>
      <xs:documentation>Eiendomsinformasjon med tilhørende tinglyste pantedokumenter.
        Skal oppgi én av matrikkel, borettsandel eller aksjeleilighet.
        Liste over tinglyste dagbok-/dokumentnummer og opprinnelig beløp ved tinglyste pant. Ikke obligatorisk
        ved aksjeleilighet.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="matrikkel" type="Matrikkel"/>
        <xs:element name="borettsandel" type="Borettsandel"/>
        <xs:element name="aksjeleilighet" type="Aksjeleilighet"/>
      </xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="pantedokumentreferanser" type="Pantedokumentreferanser"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Pantedokumentreferanser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pantedokumentreferanse" type="Pantedokumentreferanse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Innfrielsessaldoforespoersel">
    <xs:annotation>
      <xs:documentation>Forespørsel om innfrielsesaldo på ett eller flere panteobjekt.
        En liste med oppgjørsdatoer for innfrielse. Bank kan svare på andre datoer eller kun på noen av
        datoene. Hvis det er fastrentelån kan ikke banken svare mange dager fram i tid.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="registerenheterMedHjemmelshavere" type="RegisterenheterMedHjemmelshavere"/>
      <xs:element minOccurs="1" maxOccurs="1" name="innfrielsesdatoer" type="Innfrielsesdatoer"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Innfrielsesdatoer">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="4" name="innfrielsesdato" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LaanInnfrielsessaldoListe">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="laan" type="LaanInnfrielsessaldo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LaanRestgjeldListe">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="laan" type="LaanRestgjeld"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LaanInnfrielsessaldo">
    <xs:annotation>
      <xs:documentation>
        laantakerIkkeHjemmelshaver er true dersom det finnes en eller flere låntakere som ikke er hjemmelshavere.
        laantakereHjemmelshaver er en liste med navn på de låntakerne som ogsp er hjemmelshavere.
        transporterklaering er true dersom det er et lån brukt til mellomfinansiering (transporterklæring)
        Hvis ikke kid-nummer eller betalingsmelding er nødvendig kan begge utelates.
        Dersom lånenummer er likt kontonummer legges det samme i begge felter.
        InnfrielsesBeloepOgDato er en liste med minst én dato og beløp for inndrielse på angitte dato.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="laantakerIkkeHjemmelshaver" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="transporterklaering" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="laanenummer" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="kontonummer" type="Kontonummer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="kidnummer" type="KID"/>
      <xs:element minOccurs="0" maxOccurs="1" name="betalingsmelding" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="saldoerPerDato" type="BeloepOgDatoer"/>
      <xs:element minOccurs="1" maxOccurs="1" name="laantakereHjemmelshaver" type="LaantakereHjemmelshaver"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Kontonummer">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{11}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="KID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2,25}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="BeloepOgDatoer">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="4" name="saldoPerDato" type="BeloepOgDato"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LaantakereHjemmelshaver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="navn">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BeloepOgDato">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="beloep" type="xs:double"/>
      <xs:element minOccurs="1" maxOccurs="1" name="dato" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Intensjonsendring">
    <xs:annotation>
      <xs:documentation>Endring av metode for tinglysing. Megler inkluderes kun når avsender er megler.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="0" maxOccurs="1" name="megler" type="Megler"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="parter" type="Parter"/>
      <xs:element minOccurs="1" maxOccurs="1" name="registerenheter" type="Registerenheter"/>
      <xs:element minOccurs="1" maxOccurs="1" name="intensjonsdetaljer" type="Intensjonsdetaljer"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntensjonFraBank">
    <xs:annotation>
      <xs:documentation>Forespørsel om metode for tinglysing</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="kjoepere" type="Part"/>
      <xs:element minOccurs="1" maxOccurs="1" name="registerenheter" type="Registerenheter"/>
      <xs:element minOccurs="1" maxOccurs="1" name="intensjonsdetaljer" type="Intensjonsdetaljer"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntensjonssvarFraMegler">
    <xs:annotation>
      <xs:documentation>Svar på forespørsel om metode for tinglysing</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="megler" type="Megler"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="parter" type="Parter"/>
      <xs:element minOccurs="1" maxOccurs="1" name="registerenheter" type="Registerenheter"/>
      <xs:element minOccurs="1" maxOccurs="1" name="intensjonsdetaljer" type="IntensjonsdetaljerFraMegler"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GjennomfoertEtinglysing">
    <xs:annotation>
      <xs:documentation>Melding fra megler til bank om at e-tinglysing av elektronisk pantedokument er fullført.
        Xml fra Kartverket som ble tilsendt megler etter vellykket tinglysing er inkludert som et base64 encodet vedlegg
        i metadata.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="avsender" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="mottaker" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="gjennomfoertetinglysingdetaljer" type="GjennomfoertEtinglysingDetaljer"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GjennomfoertEtinglysingDetaljer">
    <xs:annotation>
      <xs:documentation>Detaljer om gjennomført etinglysing fra megler til bank. Inneholder pantedokumentets
        dokumentreferanse og Altinn sendersreference for SignedMortgageDeed meldingen som ble sendt fra bank til
        megler.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="dokumentreferanse" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="altinnsendersreference" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OppnaaddPrioritetOk">
    <xs:annotation>
      <xs:documentation>
        Melding fra megler til bank om at prioritet er oppnådd i henhold til avtale.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="megler" type="Avsender"/>
      <xs:element minOccurs="1" maxOccurs="1" name="bank" type="Mottaker"/>
      <xs:element minOccurs="1" maxOccurs="1" name="oppnaaddprioritetdetaljer" type="OppnaaddPrioritetDetaljer"/>
      <xs:element minOccurs="1" maxOccurs="1" name="metadata" type="Metadata"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OppnaaddPrioritetDetaljer">
    <xs:annotation>
      <xs:documentation>
        Referanser benyttet for å idenfifisere saken på mottaker(bank) sin side.
        Inneholder pantedokumentets dokumentreferanse og Altinn sendersreference fra SignedMortgageDeed meldingen som
        ble sendt fra bank til megler.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="dokumentreferanse" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="altinnsendersreference" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Avsender">
    <xs:annotation>
      <xs:documentation>Avsender angir hvem som har sendt meldingen.
        Avsender skal motta meldingssvar dersom ikke organisasjonsnummer i returnertil er angitt.
        Dersom returnertil er angitt, skal meldingssvar sendes dit.
        Kontaktperson angir hvem som er relevant for denne saken dersom det er behov for direkte kontakt.
        Referanse er avsenders referanse
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Organisasjon">
        <xs:sequence>
          <xs:element minOccurs="0" name="kontaktperson" type="Kontaktperson"/>
          <xs:element minOccurs="1" name="referanse" type="xs:string"/>
          <xs:element minOccurs="0" name="returnertil" type="Organisasjon"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Mottaker">
    <xs:annotation>
      <xs:documentation>Mottaker angir hvem som skal ha meldingen.
        Referanse er mottakers referanse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Organisasjon">
        <xs:sequence>
          <xs:element minOccurs="0" name="referanse" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Megler">
    <xs:annotation>
      <xs:documentation>Ansvarlig megler angir hvilken kontaktperson som er relevant for denne saken dersom det er behov
        for direkte kontakt.
        Referanse er meglers referanse (oppdragsnummeret)
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Organisasjon">
        <xs:sequence>
          <xs:element minOccurs="0" name="ansvarligmegler" type="Kontaktperson"/>
          <xs:element minOccurs="1" name="referanse" type="xs:string"/>
          <xs:element minOccurs="0" name="oppgjoersavdeling" type="Organisasjon"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Rettssubjekter">
    <xs:annotation>
      <xs:documentation>Rettssubjekt brukes for å angi person eller organisasjon (juridisk person).
        Hvis selger ikke er hjemmelshaver i grunnboken, angis hjemmelshavere i eget felt.
        For akjseleiligheter benyttes kun kjøpere og selgere.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="selgere" nillable="true" type="Andelshavere"/>
      <xs:element minOccurs="1" maxOccurs="1" name="kjoepere" nillable="true" type="Andelshavere"/>
      <xs:element minOccurs="0" maxOccurs="1" name="hjemmelshavere" nillable="true" type="Andelshavere"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Parter">
    <xs:annotation>
      <xs:documentation>Rettssubjekt er Kartverkets sin terminologi for å angi person eller organisasjon (juridisk
        person).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="selgere" type="Part"/>
      <xs:element minOccurs="0" maxOccurs="1" name="kjoepere" type="Part"/>
      <xs:element minOccurs="0" maxOccurs="1" name="hjemmelshavere" type="Part"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Part">
    <xs:annotation>
      <xs:documentation>Rettssubjekt er Kartverkets sin terminologi for å angi person eller organisasjon (juridisk
        person).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="rettssubjekt" nillable="true" type="Aktoer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Andelshavere">
    <xs:annotation>
      <xs:documentation>Rettssubjekt er Kartverkets sin terminologi for å angi person eller organisasjon (juridisk
        person).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="rettssubjekt" nillable="true" type="Andelshaver"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Salgsobjekter">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="salgsobjekt" type="Salgsobjekt"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Salgsobjekt">
    <xs:annotation>
      <xs:documentation>
        Realsameie er definert som et salgsobjekt, men skal ikke inngå i hverken pantedokument eller skjøte.
        Et realsameie eies en eiendom og ikke person og når hovedeiendommen overskjøte følger realsameiet med og skal
        således
        ikke inngå i skjøte.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="matrikkelSalgsobjekt" type="MatrikkelSalgsobjekt"/>
        <xs:element name="borettsandelSalgsobjekt" type="BorettsandelSalgsobjekt"/>
        <xs:element name="aksjeleilighetSalgsobjekt" type="AksjeleilighetSalgsobjekt"/>
      </xs:choice>
      <xs:element name="parter" type="Rettssubjekter" minOccurs="1" maxOccurs="1"/>
      <xs:element minOccurs="0" maxOccurs="1" name="adresse" type="Adresse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Realsameier">
    <xs:sequence>
      <xs:element name="realsameie" type="Realsameie" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Realsameie">
    <xs:sequence>
      <xs:element name="matrikkel" type="Matrikkel" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eierbroek" type="Broek" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MatrikkelSalgsobjekt">
    <xs:sequence>
      <xs:element name="matrikkel" type="Matrikkel" minOccurs="1" maxOccurs="1"/>
      <xs:element name="realsameier" minOccurs="0" maxOccurs="1" type="Realsameier"/>
      <xs:element name="arealer" type="Arealer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BorettsandelSalgsobjekt">
    <xs:sequence>
      <xs:element name="borettsandel" type="Borettsandel" minOccurs="1" maxOccurs="1"/>
      <xs:element name="forretningsfoerer" type="Organisasjon" minOccurs="0" maxOccurs="1"/>
      <xs:element name="etasje" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="arealer" type="Arealer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AksjeleilighetSalgsobjekt">
    <xs:sequence>
      <xs:element name="aksjeleilighet" type="Aksjeleilighet" minOccurs="1" maxOccurs="1"/>
      <xs:element name="forretningsfoerer" type="Organisasjon" minOccurs="0" maxOccurs="1"/>
      <xs:element name="etasje" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="arealer" type="Arealer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aksjer" type="Aksjeinformasjon" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Aksjeinformasjon">
    <xs:annotation>
      <xs:documentation>
        paalydende er beløp per aksje angitt som heltall.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="akjsenummerFra" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="akjsenummerTil" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="paalydende" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="antall" type="xs:integer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Arealer">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="areal" type="Areal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Areal">
    <xs:annotation>
      <xs:documentation>
        Mulige verdier for arealtype:
        PROM (Primær rom)
        BRA (Bruksareal)
        TOMT (Tomteareal)
        BTA (Bruttoareal, kun aktuelt for næringsbygg)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="kvadratmeter" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="arealtype" type="Arealtype" use="required"/>
  </xs:complexType>

  <xs:simpleType name="Arealtype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROM"/>
      <xs:enumeration value="BRA"/>
      <xs:enumeration value="TOMT"/>
      <xs:enumeration value="BTA"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Oppgjoersinformasjon">
    <xs:annotation>
      <xs:documentation>Oppgjørsinformasjon inneholder detaljer relatert til oppgjøret. Skal andelfelles-XX knyttes til
        kjøpekontrakten eller til hver enkelt registerenhet?
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="kjoepesum" type="xs:double"/>
      <xs:element minOccurs="0" maxOccurs="1" name="omkostningerkjoeper" type="xs:double"/>
      <xs:element minOccurs="1" maxOccurs="1" name="akseptdato" type="xs:date"/>
      <xs:element minOccurs="0" maxOccurs="1" name="overtagelsesdato" type="xs:date"/>
      <xs:element minOccurs="0" maxOccurs="1" name="andelfellesgjeld" type="xs:double"/>
      <xs:element minOccurs="0" maxOccurs="1" name="andelfellesformue" type="xs:double"/>
      <xs:element minOccurs="0" maxOccurs="1" name="kontonummer" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="kidnummer" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="betalingsMelding" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Andelshaver">
    <xs:annotation>
      <xs:documentation>Andelshaver er enten en organisasjon eller person med en andel (brøk) og rolle.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Aktoer">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="andel" type="Broek"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Aktoer">
    <xs:annotation>
      <xs:documentation>Aktør er enten en organisasjon eller person.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="organisasjon" type="Organisasjon"/>
        <xs:element name="person" type="Person"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="Rettssubjekt">
    <xs:annotation>
      <xs:documentation>Superklasse for person og organisasjon</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Organisasjon">
    <xs:annotation>
      <xs:documentation>Rettssubjekt av type organisasjon</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Rettssubjekt">
        <xs:sequence>
          <xs:element name="foretaksnavn" type="xs:string"/>
          <xs:element name="adresse" type="Adresse" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Person">
    <xs:annotation>
      <xs:documentation>Rettssubjekt av type person</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Rettssubjekt">
        <xs:sequence>
          <xs:element name="fornavn" type="xs:string"/>
          <xs:element name="etternavn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Broek">
    <xs:attribute name="teller" type="xs:long"/>
    <xs:attribute name="nevner" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="Registerenheter">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="registerenhet" nillable="true" type="Registerenhet"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Registerenhet">
    <xs:annotation>
      <xs:documentation>Registerenhet er Kartverkets terminologi for eiendom (borettsandel eller matrikkel). I tillegg
        kan den også beskrive aksjeleiligheter.
        Hver registerenhet kan ha en adresse.
        Spørsmål: Trengs det en måte å anngi hvilken registernhet som ev. er hovedenheten?
        Spørsmål: Vil det gi mer mening å legge adresse utenfor registerenhet?
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="matrikkel" type="Matrikkel"/>
        <xs:element name="borettsandel" type="Borettsandel"/>
        <xs:element name="aksjeleilighet" type="Aksjeleilighet"/>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="adresse" type="Adresse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RegisterenhetMedHjemmelshavere">
    <xs:annotation>
      <xs:documentation>Må inneholde én av matrikkel, borettsandel eller akjseleilighet. Listen med hjemmelshavere er
        de hjemmelshaverne som er selgere. Ved f.eks. samlivsbrudd, den hjemmelshaveren som selger seg ut.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="matrikkel" type="Matrikkel"/>
        <xs:element name="borettsandel" type="Borettsandel"/>
        <xs:element name="aksjeleilighet" type="Aksjeleilighet"/>
      </xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="hjemmelshavere" type="Hjemmelshavere"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Hjemmelshavere">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="hjemmelshaver" type="Aktoer"/>
      <!-- TODO Aktoer har ikke brøk. Trenger vi det? -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Matrikkel">
    <xs:sequence/>
    <xs:attribute name="kommunenavn" type="xs:string" use="required"/>
    <xs:attribute name="kommunenummer" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Kommunenummer må være formatert med 4 siffer (0000, tilsvarende som hos Kartverket)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="gaardsnummer" type="xs:string" use="required"/>
    <xs:attribute name="bruksnummer" type="xs:string" use="required"/>
    <xs:attribute name="festenummer" type="xs:string"/>
    <xs:attribute name="seksjonsnummer" type="xs:string"/>
    <xs:attribute name="eiendomsnivaa" type="Eiendomsnivaa" use="required"/>
  </xs:complexType>

  <xs:complexType name="Borettsandel">
    <xs:sequence/>
    <xs:attribute name="organisasjonsnummer" type="xs:string" use="required"/>
    <xs:attribute name="borettslagnavn" type="xs:string" use="required"/>
    <xs:attribute name="andelsnummer" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Aksjeleilighet">
    <xs:sequence/>
    <xs:attribute name="organisasjonsnummer" type="xs:string" use="required"/>
    <xs:attribute name="organisasjonsnavn" type="xs:string" use="required"/>
    <xs:attribute name="leilighetsnummer" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:simpleType name="Eiendomsnivaa">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E"/>
      <xs:enumeration value="F"/>
      <xs:enumeration value="F_1"/>
      <xs:enumeration value="F_2"/>
      <xs:enumeration value="F_3"/>
      <xs:enumeration value="F_4"/>
      <xs:enumeration value="F_5"/>
      <xs:enumeration value="F_6"/>
      <xs:enumeration value="F_7"/>
      <xs:enumeration value="F_8"/>
      <xs:enumeration value="F_9"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Adresse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="gatenavn" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="postnummer" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="poststed" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Kontaktperson">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="navn" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="epost" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="telefondirekte" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="telefon" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vedleggsliste">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vedlegg" type="Vedlegg"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vedlegg">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Filnavn</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="mimetype" type="xs:string">
        <xs:annotation>
          <xs:documentation>Mimetype</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="beskrivelse" type="xs:string">
        <xs:annotation>
          <xs:documentation>Beskrivelse av innhold i vedlegg</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Intensjonsdetaljer">
    <xs:sequence>
      <xs:element name="metode" type="Tinglysingsmetode" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntensjonsdetaljerFraMegler">
    <xs:complexContent>
      <xs:extension base="Intensjonsdetaljer">
        <xs:sequence>
          <xs:element name="harsignerthjemmelsovergangpaapapir" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Dokumentnummer">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Aar">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Embetenummer">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Rettsstiftelsesnummer">
    <xs:restriction base="xs:short">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Pantedokumentbeloep">
    <!-- Maks i Grunnnboken er 280.000.000.000 -->
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Pantedokumentreferanse">
    <xs:annotation>
      <xs:documentation>Beløp er opprinnelig tinglyst beløp i hele kroner.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="dokumentnummer" type="Dokumentnummer" use="required"/>
    <xs:attribute name="dokumentaar" type="Aar" use="required"/>
    <xs:attribute name="embetenummer" type="Embetenummer" use="required"/>
    <xs:attribute name="rettsstiftelsesnummer" type="Rettsstiftelsesnummer" use="required"/>
    <xs:attribute name="registreringstidspunkt" type="xs:dateTime" use="optional"/>
    <xs:attribute name="beloep" type="Pantedokumentbeloep" use="optional">
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Metadata">
    <xs:annotation>
      <xs:documentation>Informasjon om meldingen</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ressurser" type="Vedleggsliste"/>
      <xs:element minOccurs="1" maxOccurs="1" name="opprettet" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>En timestamp som indikerer når objektet ble produsert</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Tinglysingsmetode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Elektronisk tinglysing"/>
      <xs:enumeration value="Papirtinglysing"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Kjoepere">
    <xs:sequence>
      <xs:element name="kjoeper" type="Aktoer" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
